* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    height: 50vh;
    border: 2px solid black;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}

.grid-element {
    border: 1px solid rgb(194, 194, 194);
}