* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.grid-container {
    height: 50vh;
    border: 2px solid black;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}

.grid-element {
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}

button {
    font-size: 14px;
    width: 150px;
    line-height: 2;
    border-radius: 1000px;
}

.special-brush {
    background-image: linear-gradient(110deg, red, orange, yellow, green, blue, indigo, violet);
}

